<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<head>
    <title>Members</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div style="background-color:salmon; margin-top: 20px; text-align:center; padding: 20px;">
	
		<h1>Members</h1>
		
		<h4 th:inline="text">Logged in as: [[${#httpServletRequest.remoteUser}]]</h4>
	
	</div>
	
	<div style="clear: both; display: block; height: 20px;"></div>
	
	<table class="table table-striped" style="text-align:center">
	
		<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Member Details</th>
		</tr>
		
		<tr th:each = "member : ${members}">
			<td th:text="${member.memberId}"></td>
			<td th:text="${member.firstName}"></td>
			<td th:text="${member.lastName}"></td>
			<td><a th:href="@{/memberDetails/{memberId}(memberId=${member.memberId})}">Check details</a></td>
			
		</tr>
	
	</table>
	
	<div style="background-color:salmon; margin-top: 20px; text-align:center; padding: 20px;">
	
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
		
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<Form action="/projectCatalog">
			<input type="submit" value="Projects" class="btn btn-primary"/>
		</Form>
	
	</div>
	
	<div style="margin:20px;">
		<span th:text="#{lang.change}"></span>:
		<select id="locales">
			<option value=""></option>
		    <option value="en" th:text="#{lang.eng}"></option>
		    <option value="fi" th:text="#{lang.fi}"></option>
		</select>
	</div>
	
	 
	 
</body>
</html>