<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	

	<title>Project Details</title>
	
</head>

<body>

	<div style="margin-top: 20px; text-align:center;">
		<h1>Project Details</h1>
		<h4 th:inline="text">Logged in as: [[${#httpServletRequest.remoteUser}]]</h4>
	</div>
	
		 
		 <div style="background-color: lightblue; margin-top: 30px; padding:20px; text-align:center">
			 <h3 th:text="${project.projectName}">Project Placeholder</h3>
			 <p th:text="${project.description}">Project Placeholder</p>		 
			 
			 <Form th:action="@{/joinProject/{projectId}/{username} (projectId=${project.projectId}, username=${#httpServletRequest.remoteUser})}" method="POST">
				<input class="btn btn-primary" type="submit" value="Join Project" />
			</Form>
		</div> 
			
	<div style="clear: both; display: block; height: 15px;"></div>
    				
	<table class="table table-striped" style="text-align:center">
	
		<tr>
			<th>MemberId</th>
			<th>First Name</th>
			<th>First Name</th>
			<th>Job Description</th>
			<th>Task Given:</th>
			<th>Member Page</th>
			<th>Change Task</th>
			<th>Remove</th>
			
		</tr>
	
		<tr th:each="membership : ${memberships}">
			<td th:text="${membership.member.memberId}"></td>
			<td th:text="${membership.member.firstName}"></td>
			<td th:text="${membership.member.lastName}"></td>
			<td th:text="${membership.jobDescription}"></td>
			<td th:text="${membership.date}"></td>
			<td><a th:href="@{/memberDetails/{memberId}(memberId=${membership.member.memberId})}">More information</a></td>			
			<td><a th:href="@{/projectDetails/memberTasks/{membershipId}/{projectId}/{username}(membershipId=${membership.membershipId}, projectId=${project.projectId}, username=${#httpServletRequest.remoteUser})}">Edit</a></td>							
			
			<td><a th:href="@{/delete/{membershipId}(membershipId=${membership.membershipId})}">Remove</a></td>
			
		</tr>
	
	</table>
	
	<div style="clear: both; display: block; height: 20px;"></div>
	
	<div style="clear: both; display: block; height: 20px; text-align:center">
	
		<Form action="/memberCatalog" style="margin-left:10px;">
			<input type="submit" value="Members" class="btn btn-primary"/>
		</Form>
		
		<div style="clear: both; display: block; height: 5px;"></div>
			
		<Form action="/projectCatalog"  style="margin-left:10px;">
			<input type="submit" value="Projects" class="btn btn-primary"/>
		</Form>
		
	</div>

</body>

</html>